@import "./base/normalize";
@import "./base/variables";
@import "./utils/placeholder";
@import "./base/base";
@import "./components/logo";
@import "./components/page-header";
@import "./components/portfolio-main";
@import "./components/projects-section";
@import "./components/footer";
@import "./components/social-icons-footer";
@import "./components/subscribe-footer";
@import "./components/buttons";
@import "./components/hero";
@import "./components/features";
@import"./components/do";
@import "./components/team";
@import "./components/social-media-team";
@import "./components/clients";
@import "./components/studio-titles";
@import "./components/form-modal";
@import "./components/modal";