.site-footer {
  background-color: $accent-bg-color;
 
  justify-content: center;
  align-items: center;
  
  @media screen and (min-width:1200px) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.address-list__item:not(:last-child) {
  margin-top: 9px;
}

.address-list__link {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;

  transition: color$transition;

        &:hover,
        &:focus {
  color: $accent-color;
}
}


.address-list__map {
  color: $third-class-text-color;

  transition: color $transition;

            &:hover,
            &:focus {
  color: $accent-color;
}
}

.footer-flex {
 display: flex;

 text-align: center;
 align-items: center;
   flex-direction: column;
   justify-content: center;

//  @media screen and  (max-width: 768px){
//    flex-direction: column;
//    justify-content: center;
//  }

//  @media screen and (min-width:768px) and (max-width:1199px) {
//    justify-content: space-around;
//  }

@media screen and (min-width:768px) {
  justify-content: space-around;
  flex-direction: row;
}

  @media screen and (min-width:1200px) {
  // flex-direction: row;
  text-align: left;
  }
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $third-class-text-color;
  margin-bottom: 20px;
  // text-align: left;
  text-align: center;
  padding-top: 20px;
  
  margin-top: 0;

  &__join {
    padding-top: 0;
  }
  // @media screen and (max-width:1199px) {
  //   text-align: center;
  //   padding-top: 20px;
  // }
@media screen and (min-width:1200px) {
  text-align: left;
  
}
}


.social,
.logo-footer {
  @media screen and (max-width:1200px) {
    margin-bottom: 60px;
  }
}

.logo-footer {
  @media screen and (min-width:1200px) {
    margin-right: 70px;
  }
}

.social {
  @media screen and (min-width:1200px) {  
    margin-right: 93px;
  }
}