.form-field__label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transform: translateY(-120%);
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.01em;

  color: $secondary-text-color;
}

.form-field {
  position: relative;
  margin-bottom: 20px;
}

.form-field--email {
  margin-bottom: 0;
}

.form-field__input {
  border: $border rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  background-color: $primary-bgc-color;
  color: $primary-text-color;
  padding: 0 10px 0 42px;

  transition: border-color$transition;

        &:focus {
          outline: none;
          border-color: $accent-color;
        }
}

.input-textarea {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  margin-top: 4px;
}

.label-textarea {
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.01em;

  color: $secondary-text-color;
}

.input-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.label-policy {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
  margin-left: 20px;

            &__link {
            color: $accent-color;
            font-family: inherit;
            }

        @media screen and (min-width:1200px) {
          font-size: 14px;
  line-height: 1.7;
        }
}


.button--form-button {
  display: block;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.form-field__buttons {
  position: absolute;
  top: 11px;
  left: 12px;
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: #000000;

  .form-field__input:focus ~ & {
  fill: $accent-color;
}
}


.checkbox-modal {
  position: relative;
  display: flex;
  align-items: center;

  margin-bottom: 20px;

  @media screen and (min-width:1200px) {
    margin-left: 8px;
  }
}

.checkbox__icon {
  position: absolute;
  
  left: 0;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: background-color $transition;

  @media screen and (min-width:1200px) {
  top: 3px;
  }
}

.checkbox__input {
    @extend %visually-hidden;
}

.checkbox__input:checked + .checkbox__icon {
  background-color: $accent-color;
  background-image: url(../images/check.svg);
  background-size: contain;
  border: $accent-color;
  background-origin: border-box;
}
