.projects-link {
  text-decoration: none;
  color: inherit;
}

.projects-list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

 

  text-decoration: none;
  

  @media screen and (min-width:768px) {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  padding-left: 25px;
   margin-left: -30px;
  margin-bottom: -30px;
  }

  &__item {
    // flex-basis: calc(100% / 3 - 30px);

    margin-left: auto;
    margin-right: auto;
   &:not(:last-child) {
     
     margin-bottom: 30px;
   }
   &:last-child {
     margin-bottom: 15px;
   }

    transition: box-shadow $transition;

    @media screen and (max-width:767px) {
      width:450px;
      max-width: 100%;
    }

    @media screen and (min-width:768px) {
      width: calc((100% - 15px * 4) / 2);
      max-width: 100%;
      
      }

      &:nth-child(9) {
        margin-right: auto;
        margin-left: 15px;
      }
    

    @media screen and (min-width:1200px) {
      width: calc((100% - 15px * 6) / 3);
       max-width: 100%;
    }

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    }
  }


.projects-group__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  white-space: nowrap;

  margin: 0px 0px;

  display: inline-block;
  max-width: 322px;
  text-align: left;

  color: $primary-text-color;
}

.projects-group {
  background-color: $primary-bgc-color;
  padding: 20px 24px;
  height: 110px;
  border: $border #eeeeee;
  margin-right: 0;

  &__name {
   
    color: $secondary-text-color;

    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;

    margin: 0px 0px;

      @media screen and (min-width:1200px) {
        max-width: 370px;
      }
  }
}

.projects-link__img {
  display: block;
  height: auto;
   width: 450px;

  @media screen and (min-width:768px) {
   width: 354px;
  }

  @media screen and (min-width:1200px) {
    width: 370px;
  }
}

.projects-link__thumb {
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    content: "";
    display: inline-block;
    background-color: rgba(33, 150, 243, 0.9);

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;

    transition: opacity $transition;

    transform: translateY(100%);
    transition: transform $transition;

      .projects-list__item:hover &,
      .projects-list__item:focus & {
      transform: translateX(0);
}

  }
}

.project-description {
  position: absolute;
  top: 0;
  left: 0;

  padding: 63px 24px;

  opacity: 0;

  transition: opacity $transition;

  &__text {
    margin: 0;

    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: $third-class-text-color;
  }
}

.projects-list__item:hover .projects-link__thumb::before,
.projects-list__item:hover .project-description {
  opacity: 1;
}

.projects-list__item:focus .projects-link__thumb::before,
.projects-list__item:focus .project-description {
  opacity: 1;
}
