.team {
  background-color: $secondary-bgc;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }

  &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 30px;
    max-width: 450px;

    @media screen and (min-width: 768px)  and (max-width:1199px){
      // margin: 15px;
      width: calc((100% - 4 * 15px) / 2);
      &:nth-child(even) {
        margin-left: 30px;
      }
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
    

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}

.team-list__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }

  // @media screen and (min-width:768px) {
  //   margin-right: 30px;
  // }
}

.team-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 10px;
}

.team-card__profession {
  color: $secondary-text-color;

  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 0;
}

.team-card {
  background-color: $primary-bgc-color;

  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;
  max-width: 450px;

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.team-list__img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 450px;

  // @media screen and (min-width: 768px) {
  //   width: 354px;
  // }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
