.body {
  background-color: $primary-bgc-color;
  color: $primary-text-color;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.container {
  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;
  position: relative;

  @media screen and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  
    margin-right: auto;
    margin-left: auto;
  }
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // align-items: center;
  }
}


